/* .slick-slide{
    margin: 0 10px !important;
    width: auto !important;

} */


.slick-arrow {
    background-color: rgb(211, 194, 194) !important;
    border-radius: 100% !important;
    margin: 0 2px !important;
    
}

